* {
    font-family:'Montserrat', sans-serif ;
    box-sizing: border-box;
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
   
}

main {
    text-align: center;
    justify-content: center;
    flex: 1 0 auto;
    margin-left: 200px;
    margin-right: 200px;
}

.question-page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

/* Hiding the bullet points with this code */
ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: baseline;
    padding-left: 50px;
}

li {
    margin-bottom: 10px;
}

/* Display the intro page and hide the rest */

.question-page, .submit-page, .highscore-page, #check-line {
    display: none;
}

.button {
    background: white;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}
.button:hover {
    background-color: rgb(38, 229, 165);
}

#timer {
    display: flex;
    justify-content: right;
    flex-direction: row;
    
}
/* When using `max-width` as the breakpoint, you must go from widest to narrowest to avoid conflict */

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
    main {
        margin-right: 50x;
        margin-left: 50px;
    }
  }
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    main {
        margin-right: 20x;
        margin-left: 20px;
    }
  }
  
  /* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {
    main {
        margin-right: 60x;
        margin-left: 60px;
    }
  }